# Ignore everything by default
*

# Allow specific file types
!.gitignore
!*.ipynb
!*.config
!*.py
!*.R
!*.r
!*.sh
!*.Rmd
!*.rmd

# Allow directories (required to traverse folders and add files selectively)
!*/

# Ignore all .ipynb_checkpoints folders
.ipynb_checkpoints/



# ignore powerpoints
*.pptx

# Ignore specific folders
R_Objects/
Python_Objects/
temp/
